/Thu_Nghiem_Kien_Thuc_Java_Co_Ban/nbproject/private/
/Thu_Nghiem_Kien_Thuc_Java_Co_Ban/build/
/Thu_Nghiem_Kien_Thuc_Java_Co_Ban/dist/
/Some_Basic_Homeworks/ComplexNumber/nbproject/private/
/Some_Basic_Homeworks/ComplexNumber/build/
/Some_Basic_Homeworks/Kiem_Tra_Nam_Nhuan/nbproject/private/
/Some_Basic_Homeworks/Kiem_Tra_Nam_Nhuan/build/
/Some_Basic_Homeworks/Password/nbproject/private/
/Some_Basic_Homeworks/Passwords/nbproject/private/
/Some_Basic_Homeworks/Password/build/
/Some_Basic_Homeworks/PlainList/nbproject/private/
/Some_Basic_Homeworks/PlainList/build/
